body {
    background: #110f16;
    color: #ffffff
}

.card {
    flex-direction: row;
    background-color: #242232;
    color: #ffffff;
}

#header-container {
    background: #242232;
}

hr {
    background-color: #ffffff;
}

@media (max-width: 991px) {
    .card {
        flex-direction: column;
        /* width: 80%; */
    }

    #recipe-body {
        max-width: 100%;

    }

    #recipe-body div {
        max-width: 100%;
        flex-direction: column;
        margin: 0 !important;
    }

    #recipe-body h4 {
        font-size: xx-large;
    }

    #recipe-body p {
        font-size: x-large;
    }
}
